<table>
  <tr>
    <th>Home</th>
    <th>Guest</th>
    <th>Result</th>
  </tr>
  <% games.each do |game| %>
    <tr>
      <td>
        <%= game.home_team %>
      </td>
      <td>
        <%= game.away_team %>
      </td>
      <td><%= game.home_score %>:<%= game.away_score %></td>
      <td><%= button_to 'Remove game', tournament_division_game_path(@tournament, game), method: :delete %></td>
    </tr>
  <% end %>
</table>